@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #13261D;
}

header {
    width: 100%;
    padding: 30px 9%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-store {
    font-size: 45px;
    color: #4D876F;
    font-style: italic;
}

#nav-store:hover {
    cursor: pointer;
}

#nav-store a {
    list-style: none;
    display: flex;
    text-decoration: none;
}


#nav-list {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.nav-item.active a {
    color: #4D876F;
    border-bottom: 1.5px solid #67a78c;
}

a:hover {
    color: #4D876F;
    transition: 0.4 all;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-size: 22px;
    padding: 10px 8px;
}

.btn-default:hover {
    cursor: pointer;
   
}

.mobile-btn {
    display: none;
}

#mobile-menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav-list {
        display: none;
    }

    .mobile-btn {
        display: flex;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active {
        display: flex;
    }
}
