@font-face {
    font-family: 'Nerko';
    src: url('fonts/NerkoOne-Regular.ttf') format('opentype');
    font-family: 'Soda';
    src: url('fonts/Soda\ Shake.ttf') format('opentype');
    font-family: 'Bil';
    src: url('fonts/Bilgres\ DEMO.otf') format('opentype');
    font-family: 'Bold';
    src: url('fonts/MADECarvingSoftPERSONALUSE-Bold.otf') format('opentype');
}

body {
    background-image: linear-gradient(37deg, #2d0850,#5705a3)  ;
    color: aliceblue;
    font-family: 'noto sans', Times, serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline-block;
    margin: 15px;
}

#title {
    flex-direction: column;
    line-height: 10px;
}


h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 10px;
    font-family: 'Bold';
    color: #1d65c2;
}

h2#principal {
    color: #0460cabb;
    font-family: 'Bold';
    font-weight: 800;
}

a {
    color: white;
    font-family: bold;
    font-size: 20px;
}

a:hover {
    color: #8939d4;
    transition: 0.3s all;
}

#conta {
    border: 3px solid #8939d4;
    padding: 10px;
    border-radius: 15PX;
}

#conta:hover{
    background-color: #8939d4;
    color: white;
}


main {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

p {
    line-height: 20px;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;

}

input {
    margin-top: 20px;
    height: 25px;
    padding: 10px;
    border-radius: 13px;
    font-size: 15px;
    border: none;
    background-color: #ffffff;
}

form [type="submit"] {
    width: 300px;
    height: 50px;
    background-color: #8939d4;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}


.left-img {
    width: 100px;
}

.right-img {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 40px;
}
